outputs/clean_violations.csv
parking_violations.csv

__pycache__/
*.pyc
.ipynb_checkpoints/

.venv/
venv/

executed.ipynb

# Large generated datasets
outputs/clean_violations.csv
outputs/cleaned_violations.csv
outputs/daily_training_data.csv
parking_violations.csv
